/* Geral */
* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif, Arial;
    color: #333;
    box-sizing: border-box;
}

body {
    background-image: url("../img/fundo.png");
    background-position: center;
    background-size: cover;
}